//foooter

.footer-container {
    background-color: rgba(#FFFFFF, 0.25);
}

footer {
    margin-top: 20px;
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding-top: 20px;

}

footer a {
    margin-left: 0px;
}

footer img {
    padding-right: 3px;
}
