//foooter

.footer-container {
    background-color: rgba(#FFFFFF, 0.25);
}

footer {
    margin-top: 70px;
    height: 56px;
    width: 100%;
 
  
    background-color: white;
    padding-top: 20px;

}

footer a {
    margin-left: 0px;
}

footer img {
    padding-right: 3px;
}

.social-media{
  
padding: 0 8px 0 8px;
margin: 0 auto;
width:135px;
}

.copyright{
    margin: 10px auto 10px auto;
 
padding: 0 8px 0 8px;
         p{
             @include font-size(12px);
             text-align: center;
             line-height: 20px;
          
        }
        a{
              color:black;
            text-decoration: none;
        }
}