
//navigation

nav ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    display: block;
    margin-bottom: 5px;
}

nav li a {
    font-family: 'Libre Franklin', sans-serif;
    @include font-size(18px);
    font-weight: 400;
    color: #302C3B;
    line-height: 20px;
    text-decoration: none;
    padding-left: 36px;
    margin-left: 10px;
    display: inline-block;
    padding-bottom: 10px;
}

.nav-bar {
    min-height: 45px;
    margin-bottom: 25px;
    padding: 30px 50px 0 50px;
}

.side-nav {
    margin-top: 40px;
}

@media screen and (max-width:640px) {
    .side-nav {
        display: none;
    }
}

.side-nav nav li a {
    font-family: 'Libre Franklin', sans-serif;
    @include font-size(14px);
    font-weight: 400;
    color: #302C3B;
    line-height: 20px;
    text-decoration: none;
    padding: 0px 0px 5px 0px;
    margin-left: 0px;
    display: inline-block;
}

.side-nav nav ul {
    list-style-type: none;
    height: 100%;
    float: right;
    margin-top: -20px;
}

.side-nav nav li {
    float: left;
    display: block;
    padding: 0 5px 0 5px;
    margin-bottom: 30px;
}

.side-nav nav li::after {
    content: "\00a0 \00a0 \00a0 /  ";
}

nav li a:hover, .active {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}




.nav-icon {
    display: none;
}

#menu-icon {
    width: 45px;
}

#menu-cross {
    width: 35px;
    margin-top: 3px;
}

@media screen and (max-width: 1035px) {
    body .nav-links {
        border-right: 10px solid transparent;
    }
}

@media screen and (max-width: 760px) {
    nav li a {
        padding-left: 22px;
    }
}

@media screen and (max-width:640px) {
    .nav-bar {
        padding: 30px 10px 0 10px;
    }

    ul.topnav li {
        display: none;
    }

    .nav-icon {
        position: absolute;
        right: 20px;
        top: 27px;
        display: block;
    }

    nav.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100%;
        z-index: 10;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }
}

@media screen and (max-width:640px) {

    ul.topnav.responsive {
        margin: 75px auto 10px auto;
    }

    ul.topnav.responsive li {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: center;
        color: white;
        text-transform: uppercase;
        @include font-size(22px);
        line-height: 23px;
        padding: 0px;
    }

    nav li a:hover, .active {
        border: none;
        margin-bottom: 0px;
        // padding-bottom: 0;
    }
}

.nav-links {
    border-right: 0px;
}

.header-top {
    background: black;
    height: 12px;
}

.noScroll {
    overflow: hidden;
    position: fixed;
}
