//
//  General Reset
//  -----------------
//  General reset to normalise various browsers
//  to the same base starting point
//

@mixin reset {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  body {
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
  }
  
  html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
}

@include reset;

%clearfix {
  *zoom: 1;
  clear: both;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//
// Fix for WebKit adjacent/general sibling and pseudo class bug
//  -----------------
// Eg: input:checked ~ label:before
// Source: https://css-tricks.com/webkit-sibling-bug
//
body { 
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix { 
  from {
    padding: 0;
  } 

  to {
    padding: 0;
  } 
}

//
// Removes the IE10+ input clear icon
//  -----------------
// Volunteering Task 10761
input[type='text']::-ms-clear {
    display: none;
}
