//
//  Typography
//  -----------------
//
//    1. General styles
//    2. Mixins
//    3. Headings
//    4. Paragraphs
//    5. Lists
//    6. Buttons/links


//
//  1. General styles
//  -------------
//
//

body { 
  color: black;
  font-size: 100%;

}

p{
  font-family: 'Libre Franklin', sans-serif;  
  @include font-size(18px);
  color: #4A4A4A;
  line-height: 39.2px;  
}

h1 a{
  @include font-size(27px);
  font-family: 'Libre Franklin', sans-serif;  
  color: #302C3B; 
  line-height: 33px;
  font-weight: 600;    
  text-decoration: none;
}

// only visibile on screen readers
.hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  display: none;
  visibility: hidden;
} 


