 //  1. Base Styles
//

//
//  Tools
//  -----
@import '_tools/variables';
@import '_tools/functions';

//
//  Base Styles
//  -----------
//  Site base styles, including resets, base typography
//  and base layout styles. Ordering is important. Reset should appear
//  first.
@import '_base/reset';
@import '_base/fonts';
@import '_base/grid';
@import '_base/typography';

.large-1{
	background: grey; 
}



//typography

h1{

  font-family: LibreFranklin-SemiBold;
  font-size: 27px;
  color: #302C3B;
  line-height: 33px;
}


a{

font-family: LibreFranklin-Medium;
font-size: 17px;
color: #302C3B;
line-height: 20px;
text-decoration: none;
padding-left:40px;

position: absolute;
	bottom: 0px;

}

.navigation{
	height:80px;

    border-right:0px;
}

.header-top{
	background: black;
	height: 20px

}