//
//  Tools
//  -----
@import '_tools/variables';
@import '_tools/functions';


//
//  Base Styles
//  -----------
//  Site base styles, including resets, base typography
//  and base layout styles. Ordering is important. Reset should appear
//  first.
@import '_base/reset';
@import '_base/fonts';
@import '_base/grid';
@import '_base/typography';

//
//  Header and footers
//  ------------------
@import '_headerfooter/header';
@import '_headerfooter/footer';


.home-content {
    background-image: url('../img/asdf.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}

//main
main {
    min-height: 500px;
    padding-top: 40px;
}

.main-content {
    border-left: 1px solid #E5E5E5;
    padding: 30px 0px 80px 30px;
    margin-top: -65px;
}

//selected works
img.no-indent{
    margin:0 20px 0 -20px !important;

}
.artwork img {
    float: left;
    margin:0 20px 0 0px;
    padding: 0px 10px 10px 0px;
    max-width: 100%;
}

.artwork {
  
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;

}

.artwork-detail {
    width: 180px;
    float: left;
}


.hidden {
    visibility: hidden;
}

//projects
@mixin section-content{
    border-bottom: 0.5px solid #E5E5E5;
    margin: 20px 0px 0px -85px;
    padding:0px 0px 30px 85px;
}
section.selected-works{
    @include section-content;
}
section.project {
    @include section-content;
}

@media screen and (max-width:640px) {
    section.selected-works {
       margin:20px 10px 0 -95px;
    }

    section.project {
    @include section-content;
     margin:20px 10px 0 -95px;
}
    .artwork img {
        width: inherit;
    }
    .artwork  {
        width: inherit;
    }
}
