//
//  Tools
//  -----
@import '_tools/variables';
@import '_tools/functions';

//
//  Base Styles
//  -----------
//  Site base styles, including resets, base typography
//  and base layout styles. Ordering is important. Reset should appear
//  first.
@import '_base/reset';
@import '_base/fonts';
@import '_base/grid';
@import '_base/typography';

//
//  Header and footers
//  ------------------
@import '_headerfooter/header';
@import '_headerfooter/footer';


.home-content{
  background-image: url('../img/asdf.png') ;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

//main
main{
  min-height: 500px;
  padding-top: 40px;
}

.main-content{
    border-left: 1px solid #E5E5E5;
    padding:45px 0px 80px 30px;  
    margin-top: -65px;

}

.artwork img{
float: left;
margin-right: 20px;
padding-bottom: 10px;
max-width: 825px;
}

.artwork {
  padding: 0px 0px 30px 105px;
  border-bottom: 1px solid #E5E5E5;
  
width:100%;
display: inline-block;
margin:20px 0px 0px -85px;

}

.artwork-detail {
  width:180px;
  float: left;

}
.artwork-detail  p{

font-family: LibreFranklin-Medium;
font-size: 12px;
color: #000000;
line-height: 25px;


}

.artwork-detail  h1 {
font-family: LibreFranklin-Medium;
font-size: 12px;
color: #000000;
line-height: 25px;
text-transform: uppercase;
 }

